@import "tailwindcss";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@theme {
    --color-deep-black: #141414;
    --color-dark: #262626;
    --color-dark-grey: #2e2e2e;
    --color-light-grey: #989898;
    --color-accent: #d43f3a;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* The grey background track */
.progress-container {
  width: 100%;
  height: 8px;
  background-color: #9CA3AF;
  border-radius: 9999px;
  overflow: hidden;     
  margin:0;
}

/* The red active progress */
.progress-fill {
  height: 100%;
  border-radius: 9999px;     /* Rounds the right edge of the red bar */
  transition: width 0.5s ease-in-out; /* Smooth animation when loading */
  @apply bg-accent;
}

main {
    max-width:  960px;
    @apply min-w-6/10 mt-5;
}

section {
    @apply bg-dark rounded-xl p-10 mb-5
}

section h2 {
    @apply mb-5;
}

.complete-profile {
    @apply mb-0
}

.highlight-thumbnail {
    min-width: 300px;
    aspect-ratio: 1/1;
    @apply bg-dark-grey rounded-xl;
}

a {
    text-decoration: underline;
    @apply text-light-grey;
}

.article {
    text-decoration: none;
    @apply text-white flex flex-col gap-2 w-10/10;
}

.article img {
    aspect-ratio: 16/9;
    width: 100%;
}

.article p {
    @apply text-light-grey
}

.nav-link {
    @apply text-white;
    text-decoration: none;
}

.button {
    text-decoration: none;
    @apply bg-white text-black p-10 pt-2 pb-2 rounded-md;
}

.button .button-arrow {
    @apply text-accent;
}

#header-template, #footer-template {
    width: 100%;
}